/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Text styles */
p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

/* App container styles */
.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.app:before {
  content: '';
  background: url('./assets/rainmou.jpg') no-repeat center center/cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Search container styles */
.app .search {
  text-align: center;
  padding: 1rem;
  transition: all 0.3s ease; /* Add a transition for smooth movement */
}

/* Center the input when isCentered is true */
.app .search.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app .input-container {
  position: relative;
  display: inline-block;
  max-width: 900px;
  width: 70%;
  text-align: left;
  transition: all 0.8s ease; /* Add a transition for smooth movement */
}

/* Style for the input when isCentered is true */
.app .search.centered .input-container {
  width: 80%;
  max-width: 80%;
}

.app input {
  padding: 0.7rem 2rem 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
  width: 100%;
  transition: all 0.3s ease; /* Add a transition for smooth movement */
}

.fa-search {
  cursor: pointer;
  margin-left: -30px;
}



/* Weather container styles */
.weather {
  max-width: 900px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Top section styles */
.app .top {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.app .top .topleft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app .top .topright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: auto;
}

/* Weather icon styles */
.weather .icon img {
  width: 6.5rem;
  height: 6.5rem;
}

/* Forecast container styles */
.forecast {
  width: 100%;
  margin: 1rem auto 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Forecast title styles */
.forecast-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.forecast-title .forecast-toggle-button {
  display: none;
}

/* Forecast toggle button container styles */
.forecast-toggle-container {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  transition: background-color 0.2s ease-in-out;
}

/* Forecast toggle button styles */
.forecast-toggle-button {
  font-size: 1rem;
  line-height: 1rem;
  width: 100%;
  height: 100%;
  margin: 8px 4px 4px 3px;
}

/* Show forecast toggle button on hover */
.forecast:hover .forecast-title .forecast-toggle-container .forecast-toggle-button {
  display: inline;
}

/* Hover effect for forecast toggle button */
.forecast .forecast-toggle-container:hover {
  background-color: #aca6a6; /* Change background color on hover */
}

/* Active state styles for forecast toggle button */
.forecast.active .forecast-title .forecast-toggle-container .forecast-toggle-button {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
  margin-top: 2px;
  margin-bottom: 5px;
}

/* Forecast scroll container styles */
.forecast-scroll {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin: 1.5rem auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2);
  gap: 20px; /* Add space between containers */
  padding-bottom: 25px;
}

/* Custom scrollbar styles for forecast scroll container */
.forecast-scroll::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  height: 8px;
}

.forecast-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2); /* Track color */
}

.forecast-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Thumb color */
}

/* Forecast item styles */
.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 140px;
  margin-right: 10px;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Bottom section styles */
.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Bold text styles */
.bold {
  font-weight: 700;
}
